@import './base/common';
@import './base/reset';
@import './utils/var';
@import './utils/placeholder';
@import './utils/breackpoints';
@import './utils/mixin';
@import './components/page-header';
@import './components/nav-site';
@import './components/contact-list';
@import './components/hero';
@import './components/modal';
@import './components/about';
@import './components/checkbox';
@import './components/backdrop';
@import './components/form-modal';
@import './components/section';
@import './components/section-features';
@import './components/page-footer';
@import './components/address';
@import './components/newsletter';
@import './components/charact-list';

@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(100px); }
 }

 