.about {
    padding: 10px 20px;
    background-color: rgba(212, 214, 216, 30%);

    @media screen and (max-width: 320px) {
        height: 390px;
    }

    @media (min-width: 321px) and (max-width: 380px) {
        height: 420px;
    }

    @media (min-width: 381px) and (max-width: 480px) {
        height: 460px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        height: 500px;
    }

    @media (min-width: 541px) and (max-width: 767px) {
        height: 550px;
    }

    @media (min-width: 768px) {
        height: 634px;
    }

    @media (min-width: $desktop) {
        text-align: center;
        background-size: cover;
        padding: 0;
        height: 655px;
    }

    @media (min-width: 1401px) {
        padding: 0;
        height: 705px;
    }

    @media screen and (min-width: 1851px) {
        height: 800px;
    }

    &__container{

        @media screen and (min-width: 1024px) {
            width: 880px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1401px) {
            max-width: 1300px;
        }

        @media screen and (min-width: 1851px) {
            max-width: 1650px;
        }
    
        @media screen and (min-width: 2201px) {
            max-width: 2000px;
        }
    }

    &__component {
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 280px) {
            top: -88px;
            width: 90px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            top: -94px;
            width: 100px;
        }

        @media (min-width: 321px) and (max-width: 380px) {
            top: -100px;
            width: 130px;
            margin-left: 3px;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            top: -111px;
            width: 140px;
            margin-left: 7px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: -102px;
            width: 160px;
            margin-left: 25px;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            top: -123px;
            width: 180px;
            margin-left: 10%;
        }

        @media (min-width: $tablet) {
            width: 210px;
            top: -144px;
            left: 13%;
            background-color: #F7F7F7;
        }

        @media (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            height: 110px;
            width: 400px;
            top: -70px;
            left: 85px;
            padding: 12px 20px;
            background-color: #F7F7F7;
        }

        @media (min-width: 1201px) {
            display: flex;
            justify-content: space-between;
            height: 140px;
            width: 440px;
            top: -90px;
            left: 0px;
            padding: 12px 20px;
            background-color: #F7F7F7;
        }

        @media (min-width: 1401px) {
            display: flex;
            justify-content: space-between;
            height: 150px;
            width: 550px;
            top: -90px;
            left: 0px;
            padding: 12px 20px;
            background-color: #F7F7F7;
        }

        @media (min-width: 1601px) {
            display: flex;
            justify-content: space-between;
            height: 176px;
            width: 600px;
            top: -105px;
            left: -20px;
            padding: 12px 20px;
            background-color: #F7F7F7;
        }

        @media screen and (min-width: 1851px) {
            height: 210px;
            width: 750px;
            top: -120px;
            left: -130px;
            z-index: 2;
        }
    
        @media screen and (min-width: 2201px) {
            height: 230px;
            width: 850px;
            top: -125px;
            left: -210px;
        }
    }

    &__component:hover .overlay {
        @media (min-width: 1024px) {
            opacity: 1;
        }
    }

    &__block {
        background-color: #2C3049;
        padding: 7px 5px;
        border-bottom: 1px solid #BABABA;
        fill: #F7F7F7;
        

        @media (min-width: $desktop) {
            fill: #2C3049;
            background-color: #F7F7F7;
            border-right: 1px solid #BABABA;
            border-bottom: none;
            padding: 0 15px;
            width: 33%;
        }

        @media (min-width: 1201px) {
            padding: 0 20px;
        }

        @media (min-width: 1401px) {
            padding: 0 25px;
        }

        @media (min-width: 1601px) {
            padding: 0 15px;
        }

        @media screen and (min-width: 1851px) {
            padding: 0 30px;
        }
    
        @media screen and (min-width: 2201px) {
            padding: 0 35px;
        }
    }

    &__block-hero {
        fill: #2C3049;
        background-color: #F7F7F7;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px 2px;

        @media (min-width: $desktop) {
            border-right: 1px solid #BABABA;
            border-bottom: none;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 0px;
            padding: 0 15px 0 0;
            width: 33%;
        }

        @media (min-width: 1201px) {
            padding: 0 20px 0 0;
        }

        @media (min-width: 1401px) {
            padding: 0 25px 0 0;
        }

        @media (min-width: 1601px) {
            padding: 0 15px 0 0;
        }

        @media screen and (min-width: 1851px) {
            padding: 0 30px;
        }
    
        @media screen and (min-width: 2201px) {
            padding: 0 35px;
        }
    }

    &__block-end {
        background-color: #2C3049;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 7px 2px;
        fill: #F7F7F7;

        @media (min-width: $desktop) {
            fill: #2C3049;
            background-color: #F7F7F7;
            border-bottom: none;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 0px;
            padding: 0 0 0 15px;
            width: 33%;
        }

        @media (min-width: 1201px) {
            padding: 0 0 0 20px;
        }

        @media (min-width: 1401px) {
            padding: 0 0 0 25px;
        }

        @media (min-width: 1601px) {
            padding: 0 0 0 15px;
        }

        @media screen and (min-width: 1851px) {
            padding: 0 30px;
        }
    
        @media screen and (min-width: 2201px) {
            padding: 0 35px;
        }
    }

    &__title-hero {
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        color: #2C3049;

        @media  (max-width: 320px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 321px) and (max-width: 380px) {
            font-size: 9px;
            margin-bottom: 5px;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            font-size: 10px;
            margin-bottom: 6px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 11px;
            margin-bottom: 6px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            font-size: 13px;
            margin-bottom: 6px;
        }

        @media (min-width: 768px) {
            font-size: 15px;
            margin-bottom: 10px;
            letter-spacing: 0.1em;
        }

        @media (min-width: $desktop) {
            font-size: 9px;
            margin-bottom: 5px;
            letter-spacing: 0.1em;
        }

        @media (min-width: 1201px) {
            font-size: 11px;
            margin-bottom: 11px;
        }

        @media (min-width: 1401px) {
            font-size: 12px;
            margin-bottom: 14px;
        }

        @media (min-width: 1601px) {
            font-size: 14px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1851px) {
            font-size: 16px;
            margin-bottom: 18px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        color: #F7F7F7;

        @media screen and (max-width: 320px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 321px) and (max-width: 380px) {
            font-size: 9px;
            margin-bottom: 7px;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            font-size: 10px;
            margin-bottom: 6px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 11px;
            margin-bottom: 6px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            font-weight: 500;
            font-size: 13px;
            margin-bottom: 6px;
        }

        @media (min-width: 768px) {
            font-size: 15px;
            margin-bottom: 10px;
            letter-spacing: 0.1em;
        }

        @media (min-width: $desktop) {
            font-size: 9px;
            margin-bottom: 10px;
            letter-spacing: 0.1em;
            color: #2C3049;
        }

        @media (min-width: 1201px) {
            font-size: 11px;
            margin-bottom: 11px;
        }

        @media (min-width: 1401px) {
            font-size: 12px;
            margin-bottom: 14px;
        }

        @media (min-width: 1601px) {
            font-size: 14px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1851px) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }

    &__comment {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        color: #FF6C00;

        @media screen and (max-width: 320px) {
            font-size: 9px;
        }

        @media (min-width: 321px) and (max-width: 380px) {
            font-size: 10px;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            font-size: 11px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
        }

        @media (min-width: 541px) {
            font-size: 13px;
        }

        @media (min-width: 768px) {
            font-size: 14px;
            letter-spacing: 0.1em;
        }

        @media (min-width: $desktop) {
            font-size: 9px;
            letter-spacing: 0.1em;
        }

        @media (min-width: 1401px) {
            font-size: 12px;
        }

        @media (min-width: 1601px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1851px) {
            font-size: 16px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 18px;
        }
    }

    &__text {
        position: relative;
        left: 100px;
        top: -275px;
        font-size: 9px;
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;

        color: #3E434A;
        width: 50%;
        letter-spacing: 0.06em;
        line-height: 1.2;

        @media (min-width: 281px) and (max-width: 300px) {
            height: 140px;
            top: -290px;
            left: 120px;
            letter-spacing: 0.04em;
        }

        @media (min-width: 301px) and (max-width: 320px) {
            height: 150px;
            top: -290px;
            left: 120px;
            line-height: 1.27;
        }

        @media (min-width: 321px) and (max-width: 340px) {
            height: 157px;
            top: -310px;
            left: 140px;
            font-size: 10px;
        }

        @media (min-width: 341px) and (max-width: 380px) {
            height: 150px;
            top: -310px;
            left: 145px;
            font-size: 10px;
            line-height: 1.25;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            height: 165px;
            top: -335px;
            left: 170px;
            font-size: 11px;
            line-height: 1.25;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 12px;
        }
    
        @media (min-width: 451px) and (max-width: 480px) {
            line-height: 1.35;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: -325px;
            left: 205px;
            font-size: 12px;
            letter-spacing: 0.05em;
            line-height: 1.55;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            height: 200px;
            top: -395px;
            left: 50%;
            font-size: 14px;
            width: 45%;
            letter-spacing: 0.05em;
            line-height: 1.43;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            height: 190px;
            font-size: 15px;
            left: 50%;
            width: 45%;
            letter-spacing: 0.05em;
            line-height: 1.6;
            margin-top: -150px;
        }

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__btn {
        position: relative;
        top: -270px;
        text-transform: uppercase;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        margin-top: 8px;
        margin-left: 100px;
        font-size: 9px;
        padding: 5px 10px;

        @media (min-width: 281px) and (max-width: 320px) {
            top: -260px;
            margin-left: 120px;
        }

        @media (min-width: 321px) and (max-width: 340px) {
            top: -283px;
            margin-left: 140px;
            font-size: 10px;
            padding: 5px 15px;
        }

        @media (min-width: 341px) and (max-width: 380px) {
            top: -275px;
            margin-top: 8px;
            margin-left: 145px;
            font-size: 10px;
            padding: 5px 15px;
        }
    
        @media (min-width: 381px) and (max-width: 420px) {
            top: -295px;
            margin-top: 11px;
            margin-left: 170px;
            font-size: 10px;
            padding: 6px 15px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            top: -305px;
            margin-top: 11px;
            margin-left: 170px;
            font-size: 10px;
            padding: 6px 15px;
        }
    
        @media (min-width: 451px) and (max-width: 480px) {
            top: -300px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: -295px;
            margin-top: 11px;
            margin-left: 205px;
            font-size: 10px;
            padding: 6px 15px;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            top: -350px;
            margin-top: 11px;
            margin-left: 50%;
            font-size: 12px;
            padding: 8px 17px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            top: -205px;
            margin-top: 19px;
            margin-left: 50%;
            font-size: 12px;
            padding: 8px 17px;
            width: 160px;
            height: 40px;
        }

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__pretitle{
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: flex-start;
        text-transform: uppercase;
        color: #FF6C00;
        @include font (500, 11px, 2.1, 0.1em);
    
        @media screen and (max-width: 1023px) {
            display: none;
        }
    
        @media (min-width: 769px) {
            font-size: 11px;
        }

        @media (min-width: 1024px) {
            margin-top: -40px;
            font-size: 11px;
        }

        @media (min-width: 1401px) {
            margin-top: -20px;
            font-size: 11px;
        }
    }
    
    &__pretitle::before {
        content: '  ';
        display: inline-block;
        border-bottom: 1px solid #FF6C00;
        margin-bottom: 4px;
        margin-right: 10px;

        @media (min-width: 1023px) {
            height: 11px;
            width: 50px;
        }

        @media (min-width: 1401px) {
            margin-left: 0;
            height: 11px;
            width: 69px;
        }
    }
}

.overlay {
    @media screen and (max-width: 1023px) {
        display: none;
    }
    @media screen and (min-width: 1024px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 39, 63, 0.9);
        color: white;
        border-radius: 15px;
        font-size: 14px;
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2;
        letter-spacing: 0.06em;
        opacity: 0;
        transition: opacity 0.5s;
        padding: 5px 15px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }


.bipng {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 280px) {
        width: 78px;
        height: 40px;
    }

    @media (min-width: 281px) and (max-width: 320px) {
        width: 95px;
        height: 45px;
    }

    @media (min-width: 321px) and (max-width: 380px) {
        width: 115px;
        height: 50px;
    }

    @media (min-width: 381px) and (max-width: 480px) {
        width: 135px;
        height: 60px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        width: 160px;
        height: 50px;
    }

    @media (min-width: 541px) and (max-width: 767px) {
        width: 165px;
        margin-bottom: 5px;
        height: 62px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 200px;
        margin-bottom: 7px;
        height: 75px;
    }

    @media (min-width: 1024px) {
        width: 70px;
        margin-bottom: 4px;
        height: 50px;
    }

    @media (min-width: 1201px) {
        width: 80px;
        margin-bottom: 5px;
        height: 60px;
    }

    @media (min-width: 1401px) {
        width: 90px;
        margin-bottom: 5px;
        height: 70px;
    }

    @media (min-width: 1601px) {
        width: 100px;
        margin-bottom: 10px;
        height: 80px;
    }

    @media screen and (min-width: 1851px) {
        width: 110px;
        margin-bottom: 10px;
        height: 90px;
    }

    @media screen and (min-width: 2201px) {
        width: 130px;
        margin-bottom: 15px;
        height: 110px;
    }
}

/* ANIMATION */

     .slide__text{
        color: #FF6C00;
        text-align: center;
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;

        @media screen and (max-width: 320px) {
            font-size: 9px;
        }

        @media (min-width: 321px) and (max-width: 380px) {
            font-size: 10px;
        }
    
        @media (min-width: 381px) and (max-width: 480px) {
            font-size: 11px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
        }

        @media (min-width: 541px) {
            font-size: 11px;
        }

        @media (min-width: 768px) {
            font-size: 12px;
        }

        @media (min-width: 1024px) {
            font-size: 14px;
        }

        @media (min-width: 1401px) {
            font-size: 16px;
        }
     }

     .section-title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding-bottom: 30px;
        display: inline-block;
        position: relative;
    }
    .section-title:after,
    .section-title:before {
        content: "";
        position: absolute;
        bottom: 0;
    }
    .section-title:after {
        height: 2px;
        background-color: rgba(252, 92, 15, 0.46);
        left: 25%;
        right: 25%;
    }
    
    .section-title:before {
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        background-color: #fc5c0f;
        left: 50%;
        transform: translatex(-50%);
        bottom: -9px;
        z-index: 9;
        border-radius: 50%;
    }

/* CAROUSEL STARTS */
.owl-carousel {
    @media screen and (max-width: 280px) {
        position: relative;
        top: -260px;
    }
    @media (min-width: 281px) and (max-width: 540px) {
        position: relative;
        top: -260px;
        margin: 0 auto;
    }

    @media (min-width: 381px) and (max-width: 540px) {
        top: -275px;
    }

    @media (min-width: 541px) and (max-width: 767px) {
        position: relative;
        top: -300px;
        margin: 0 auto;
        width: 500px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        position: relative;
        top: -150px;
        left: 2%;
        margin: 0 auto;
        width: 740px;
    }
}

.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}

.feedback-slider-item {
	position: relative;
	padding: 10px;
    width: 125px;
	height: 300px;
    align-content: center;
    text-align: center;

    @media screen and (max-width: 299px) {
        margin: 0 auto;
        width: 60px;
	    height: 150px;
    }

    @media (min-width: 300px) and (max-width: 380px) {
        width: 60px;
	    height: 150px;
    }

    @media (min-width: 381px) and (max-width: 480px) {
        width: 75px;
	    height: 150px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        width: 85px;
	    height: 180px;
    }
    

    @media (min-width: 541px) and (max-width: 767px) {
        width: 60px;
	    height: 150px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 90px;
        height: 190px;
    }
}

.feedback-slider-item:hover { 
    transform: scale(1.1);
    transform: translateY(-10px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.owl-item{
    text-align: center;
}

.owl-theme .owl-nav.disabled+.owl-dots{
    @media screen and (max-width: 380px) {
        margin: 0;
    }
}

.thumb-next {
	left: auto;
	right: -90px;
}

.item-title{
    margin-top: 10px;
    margin-bottom: 5px;

    @media screen and (max-width: 280px) {
        font-size: 8px;
        margin-top: 5px;
    }

    @media (min-width: 281px) and (max-width: 320px) {
        font-size: 9px;
        margin-top: 5px;
    }

    @media (min-width: 321px) and (max-width: 380px) {
        font-size: 10px;
        margin-top: 5px;
    }

    @media (min-width: 381px) and (max-width: 480px) {
        font-size: 11px;
        margin-top: 7px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        font-size: 12px;
        margin-top: 10px;
    }

    @media (min-width: 541px) and (max-width: 767px) {
        font-size: 11px;
        margin-top: 10px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 13px;
        margin-top: 10px;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}

.about__title-main{
    @media screen and (max-width: 1023px) {
        display: none;
    }
}
