.about {
    padding: 10px 20px;
    background-color: rgba(212, 214, 216, 30%);

    &__component {
        position: absolute;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 290px) {
            top: 230px;
            width: 100px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            width: 110px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            top: 265px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            top: 295px;
            width: 130px;
        }

        @media (min-width: 361px) and (max-width: 380px) {
            top: 322px;
            width: 150px;
        }
    
        @media (min-width: 381px) and (max-width: 420px) {
            top: 322px;
            width: 160px;
        }
    
        @media (min-width: 421px) and (max-width: 440px) {
            top: 380px;
            width: 180px;
        }

        @media (min-width: 441px) and (max-width: 480px) {
            top: 380px;
            width: 180px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: 390px;
            width: 210px;
        }
    }

    &__block {
        background-color: #2C3049;
        padding: 10px;
        border-bottom: 1px solid #BABABA;
    }

    &__block-hero {
        background-color: #F7F7F7;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px;
    }

    &__block-end {
        background-color: #2C3049;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px;
    }

    &__title-hero {
        text-align: center;
        text-transform: uppercase;
        font-family: "Open sans";
        font-weight: 600;
        color: #2C3049;

        @media screen and (max-width: 290px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 9px;
            margin-bottom: 5px;
        }
    
        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
            margin-bottom: 6px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            margin-bottom: 6px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 11px;
            margin-bottom: 6px;
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-family: "Open sans";
        font-weight: 600;
        color: #F7F7F7;

        @media screen and (max-width: 290px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            font-size: 8px;
            margin-bottom: 5px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 9px;
            margin-bottom: 5px;
        }
    
        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
            margin-bottom: 6px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            margin-bottom: 6px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            margin-bottom: 6px;
        }
    }

    &__comment {
        text-align: center;
        color: #FF6C00;

        @media screen and (max-width: 290px) {
            font-size: 9px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            font-size: 9px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 10px;
        }
    
        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 11px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
        }
    }

    &__text {
        margin-left: auto;

        @media screen and (max-width: 290px) {
            font-size: 9px;
            color: #3E434A;
            width: 120px;
            letter-spacing: 0.03em;
            line-height: 1.12;
        }

        @media (min-width: 291px) and (max-width: 300px) {
            font-size: 9px;
            color: #3E434A;
            width: 130px;
            letter-spacing: 0.05em;
            line-height: 1.27;
        }

        @media (min-width: 301px) and (max-width: 320px) {
            font-size: 9px;
            color: #3E434A;
            width: 140px;
            letter-spacing: 0.05em;
            line-height: 1.37;
        }

        @media (min-width: 321px) and (max-width: 340px) {
            font-size: 10px;
            color: #3E434A;
            width: 140px;
            letter-spacing: 0.06em;
            line-height: 1.15;
        }

        @media (min-width: 341px) and (max-width: 370px) {
            font-size: 10px;
            color: #3E434A;
            width: 155px;
            letter-spacing: 0.06em;
            line-height: 1.25;
        }

        @media (min-width: 371px) and (max-width: 400px) {
            font-size: 11px;
            color: #3E434A;
            width: 170px;
            letter-spacing: 0.06em;
            line-height: 1.27;
        }
    
        @media (min-width: 401px) and (max-width: 420px) {
            font-size: 12px;
            color: #3E434A;
            width: 185px;
            letter-spacing: 0.06em;
            line-height: 1.17;
        }

        @media (min-width: 421px) and (max-width: 440px) {
            font-size: 12px;
            color: #3E434A;
            width: 195px;
            letter-spacing: 0.05em;
            line-height: 1.25;
        }
    
        @media (min-width: 441px) and (max-width: 480px) {
            font-size: 12px;
            color: #3E434A;
            width: 220px;
            letter-spacing: 0.05em;
            line-height: 1.5;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            color: #3E434A;
            width: 240px;
            letter-spacing: 0.05em;
            line-height: 1.45;
        }
    }

    &__btn {
        text-transform: uppercase;
        border: 1px solid #FF6C00;
        border-radius: 25px;

        @media screen and (max-width: 290px) {
            margin-top: 8px;
            margin-left: 120px;
            font-size: 9px;
            padding: 5px 10px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            margin-top: 8px;
            margin-left: 138px;
            font-size: 9px;
            padding: 5px 10px;
        }

        @media (min-width: 321px) and (max-width: 340px) {
            margin-top: 8px;
            margin-left: 160px;
            font-size: 10px;
            padding: 5px 15px;
        }

        @media (min-width: 341px) and (max-width: 360px) {
            margin-top: 8px;
            margin-left: 174px;
            font-size: 10px;
            padding: 5px 15px;
        }

        @media (min-width: 361px) and (max-width: 400px) {
            margin-top: 11px;
            margin-left: 190px;
            font-size: 10px;
            padding: 6px 15px;
        }
    
        @media (min-width: 401px) and (max-width: 420px) {
            margin-top: 11px;
            margin-left: 187px;
            font-size: 10px;
            padding: 6px 15px;
        }

        @media (min-width: 421px) and (max-width: 440px) {
            margin-top: 11px;
            margin-left: 210px;
            font-size: 10px;
            padding: 6px 15px;
        }
    
        @media (min-width: 441px) and (max-width: 480px) {
            margin-top: 11px;
            margin-left: 230px;
            font-size: 10px;
            padding: 6px 15px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            margin-top: 11px;
            margin-left: 260px;
            font-size: 10px;
            padding: 6px 15px;
        }
    }
}

.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

.bi-command {
    @media screen and (max-width: 290px) {
        width: 80px;
        height: 40px;
    }

    @media (min-width: 291px) and (max-width: 320px) {
        width: 110px;
        height: 45px;
    }

    @media (min-width: 321px) and (max-width: 360px) {
        width: 115px;
        height: 50px;
    }

    @media (min-width: 361px) and (max-width: 420px) {
        width: 145px;
        height: 60px;
    }

    @media (min-width: 421px) and (max-width: 480px) {
        width: 165px;
        height: 60px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        width: 190px;
        height: 50px;
    }
    
}

.bi-activity {
    @media screen and (max-width: 290px) {
        width: 80px;
        height: 40px;
    }

    @media (min-width: 291px) and (max-width: 320px) {
        width: 110px;
        height: 45px;
    }

    @media (min-width: 321px) and (max-width: 360px) {
        width: 115px;
        height: 50px;
    }

    @media (min-width: 361px) and (max-width: 420px) {
        width: 145px;
        height: 60px;
    }

    @media (min-width: 421px) and (max-width: 480px) {
        width: 165px;
        height: 60px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        width: 190px;
        height: 50px;
    }
}

.bi-sunset{
    @media screen and (max-width: 290px) {
        width: 80px;
        height: 40px;
    }

    @media (min-width: 291px) and (max-width: 320px) {
        width: 110px;
        height: 45px;
    }

    @media (min-width: 321px) and (max-width: 360px) {
        width: 115px;
        height: 50px;
    }

    @media (min-width: 361px) and (max-width: 420px) {
        width: 145px;
        height: 60px;
    }

    @media (min-width: 421px) and (max-width: 480px) {
        width: 165px;
        height: 60px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        width: 190px;
        height: 50px;
    }
}