.charact {
    background-color: #ECF0F3;
    padding: 50px 22px;

    @media (min-width: 541px) and (max-width: 767px) {
        padding: 55px 40px;
    }

    @media (min-width: 768px) {
        padding: 60px 50px;
    }

    @media (min-width: 1024px) {
        padding: 90px 0;
    }

    &__container{

        @media (min-width: 768px) and (max-width: 1023px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1024px) {
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    &__pretitle{
        display: flex;
        align-items: flex-start;
        text-transform: uppercase;
        color: #FF6C00;
        @include font (500, 11px, 2.1, 0.1em);

        @media screen and (max-width: 290px) {
            font-size: 8px;
        }

        @media (min-width: 281px) and (max-width: 360px) {
            font-size: 9px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
        }
    
        @media (min-width: 421px) and (max-width: 540px) {
            font-size: 11px;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            display: none;
        }

        @media (min-width: 768px) {
            font-size: 11px;
            margin-left: 30px;
        }

        @media screen and (min-width: 1024px) {
            margin: 10px 0 25px;
            font-size: 10px;
            letter-spacing: 0.1em;
        }

        @media screen and (min-width: 1401px) {
            font-size: 11px;
        }
    }

    &__pretitle::before {
        content: '  ';
        display: inline-block;
        border-bottom: 1px solid #FF6C00;
        margin-bottom: 4px;
        margin-right: 10px;

        @media screen and (max-width: 360px) {
            height: 6px;
            width: 30px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            height: 9px;
            width: 30px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            height: 10px;
            width: 30px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            height: 11px;
            width: 30px;
        }

        @media (min-width: 769px) {
            height: 9px;
            width: 70px;
        }

        @media screen and (min-width: 1024px) {
            margin-right: 23px;
            width: 59px;
        }

        @media screen and (min-width: 1401px) {
            margin-right: 23px;
            width: 69px;
        }
    }

    &__title{
        font-weight: 500;
        letter-spacing: 0.1em;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        @media screen and (max-width: 290px) {
            font-size: 18px;
        }

        @media (min-width: 291px) and (max-width: 360px) {
            font-size: 20px;
        }
    
        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 22px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 24px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 26px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            font-size: 24px;
            margin-bottom: 50px;
            margin-top: 0;
            margin-left: 15px;
        }

        @media (min-width: 769px) {
            font-size: 42px;
        }

        @media screen and (min-width: 1024px) {
            margin: 0px 0 47px;
            width: 69px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__posttitle-desktop {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        color: #FF6C00;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 360px) {
            font-size: 8px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 9px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            font-size: 14px;
        }
        
        @media screen and (min-width: 768px) {
            font-size: 15px;
            text-transform: uppercase;
            color: #FF6C00;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 20px;
        }
    }

    &__component {
        background-color: #F9F9FF;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        padding: 30px 13px;
        margin-bottom: 19px;

        @media (min-width: 361px) and (max-width: 540px) {
            padding: 30px 20px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            margin-bottom: 22px;
            padding: 40px 35px;
        }

        
        @media (min-width: 768px) {
            align-content: center;
            margin-bottom: 30px;
            padding: 40px;
            margin: 0 auto;
        }

        @media (min-width: 1024px) {
            display: grid;
            align-items: baseline;
            grid-template-columns: auto auto;
            gap: 40px 60px;
            padding: 40px 70px 70px;
            width: 700px;
            margin: 0 auto;
        }

        @media screen and (min-width: 1401px) {
            gap: 50px 90px;
            padding: 60px 90px 90px;
            width: 1020px;
            margin: 0 auto;
        }

        @media screen and (min-width: 1851px) {
            width: 1470px;
            gap: 70px 150px;
        }
    }

    &__text {
        font-family: math;
        @media screen and (max-width: 290px) {
            @include font (600, 8px, 1.7, 0.1em);
        }

        @media (min-width: 281px) and (max-width: 360px) {
            @include font (600, 7px, 1.7, 0.1em);
        }

        @media (min-width: 361px) and (max-width: 420px) {
            @include font (600, 8px, 1.7, 0.1em);
        }

        @media (min-width: 421px) and (max-width: 768px) {
            @include font (600, 11px, 1.7, 0.1em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            @include font (600, 12px, 1.7, 0.1em);}

        @media (min-width: 1024px) {
            @include font (600, 12px, 1.7, 0.07em);
        }

        @media (min-width: 1401px) {
            @include font (600, 13px, 1.7, 0.1em);
        }

        @media screen and (min-width: 1851px) {
            font-size: 14px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 15px;
        }
    }

    &__value {
        font-family: math;

        @media screen and (max-width: 290px) {
            @include font (600, 9px, 1.7, 0.1em);
        }
        text-align: end;

        @media (min-width: 281px) and (max-width: 360px) {
            @include font (600, 9px, 1.7, 0.1em);
        }

        @media (min-width: 361px) and (max-width: 420px) {
            @include font (600, 9px, 1.7, 0.1em);
        }

        @media (min-width: 421px) and (max-width: 480px) {
            @include font (600, 12px, 1.7, 0.1em);
        }

        @media (min-width: 481px) and (max-width: 769px) {
            @include font (600, 13px, 1.7, 0.1em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            @include font (600, 14px, 1.7, 0.1em);}

        @media (min-width: 1024px) {
            @include font (600, 12px, 1.7, 0.2em);
        }

        @media (min-width: 1401px) {
            @include font (600, 15px, 1.7, 0.1em);
        }

        @media screen and (min-width: 1851px) {
            font-size: 16px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 18px;
        }
    }

    &__span{
        font-family: math;

        @media screen and (max-width: 360px) {
            @include font (400, 8px, 1.7, 0.07em);
        }

        @media (min-width: 361px) and (max-width: 420px) {
            @include font (400, 9px, 1.7, 0.07em);
        }

        @media (min-width: 421px) and (max-width: 480px) {
            @include font (400, 11px, 1.7, 0.07em);
        }

        @media (min-width: 481px) and (max-width: 768px) {
            @include font (400, 12px, 1.7, 0.07em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            @include font (400, 12px, 1.7, 0.07em);
        }

        @media (min-width: 1024px) {
            @include font (400, 12px, 1.7, 0.07em);
        }

        @media (min-width: 1401px) {
            @include font (400, 12px, 1.7, 0.07em);
        }

        @media (min-width: 1851px) {
            font-size: 14px;
        }
    
        @media (min-width: 2201px) {
            font-size: 16px;
        }
    }

    &__line {
        flex-grow: 1;
        border-top: 1px solid #9DA4BD;

        @media screen and (max-width: 360px) {
            margin: 10px 5px 0;
        }

        @media (min-width: 361px) and (max-width: 480px) {
            margin: 12px 7px 0;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            margin: 14px 9px 0;
        }

        @media (min-width: 541px) and (max-width: 1023px) {
            margin: 14px 12px 0;
        }

        @media (min-width: 1024px) {
            margin: 13px 10px 0;
        }

        @media (min-width: 1401px) {
            margin: 14px 12px 0;
        }
    }
}

.project-list__link {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-list__popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    
    @include font (400, 18px, 1.56, 0.03em);
    
    transform: translateY(101%);
    overflow: hidden;

   

    @media screen and (max-width: 350px) {
        padding: 24px;
        overflow-y: scroll;
    }

    @media (min-width: 351px) {
        padding: 24px;
        display: flex;
        align-items: center;
    }

    .project-list__item:hover & {
        transform: translateY(0);
    }
}
