.charact {
    background-color: #ECF0F3;
    padding: 50px 15px;
    font-family:  "Open Sans";

    @media (min-width: 541px) and (max-width: 767px) {
        padding: 55px 20px;
    }

    @media (min-width: 768px) {
        padding: 60px 50px;
    }

    @media (min-width: 1024px) {
        padding: 90px 0 0px;
    }

    &__container{

        @media (min-width: 768px) and (max-width: 1023px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1024px) {
            text-align: center;
            max-width: 1400px;
            margin: 0 auto;
        }
    }

    &__pretitle{
        display: flex;
        align-items: flex-start;
        text-transform: uppercase;
        color: #FF6C00;
        @include font (500, 11px, 2.1, 0.1em);

        @media screen and (max-width: 290px) {
            font-size: 8px;
        }

        @media (min-width: 281px) and (max-width: 360px) {
            font-size: 9px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
        }
    
        @media (min-width: 421px) and (max-width: 540px) {
            font-size: 11px;
        }

        @media (min-width: 541px) and (max-width: 767px) {
            display: none;
        }

        @media (min-width: 768px) {
            font-size: 11px;
            margin-left: 30px;
        }

        @media screen and (min-width: 1024px) {
            margin: 10px 0 25px;
            font-size: 10px;
            letter-spacing: 0.1em;
        }

        @media screen and (min-width: 1401px) {
            font-size: 11px;
        }
    }

    &__pretitle::before {
        content: '  ';
        display: inline-block;
        border-bottom: 1px solid #FF6C00;
        margin-bottom: 4px;
        margin-right: 10px;

        @media screen and (max-width: 360px) {
            height: 6px;
            width: 30px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            height: 9px;
            width: 30px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            height: 10px;
            width: 30px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            height: 11px;
            width: 30px;
        }

        @media (min-width: 769px) {
            height: 9px;
            width: 70px;
        }

        @media screen and (min-width: 1024px) {
            margin-right: 23px;
            width: 59px;
        }

        @media screen and (min-width: 1401px) {
            margin-right: 23px;
            width: 69px;
        }
    }

    &__title-main{
        @media screen and (min-width: 1024px) {
            margin-bottom: 110px;
        }
    }

    &__title{
        font-weight: 500;
        letter-spacing: 0.1em;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 290px) {
            font-size: 18px;
        }

        @media (min-width: 291px) and (max-width: 360px) {
            font-size: 20px;
        }
    
        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 22px;
        }
    
        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 24px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 26px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            font-size: 24px;
            margin-bottom: 50px;
            margin-top: 0;
            margin-left: 15px;
        }

        @media (min-width: 769px) {
            font-size: 42px;
        }

        @media screen and (min-width: 1024px) {
            margin: 0px 0 47px;
            width: 69px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }


    &__component {
        position: relative;
        background:#fff;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        background: #f7f7f7;

        @media (min-width: 541px) and (max-width: 768px) {
            margin-bottom: 22px;
        }
        
        @media (min-width: 768px) {
            align-content: center;
            margin-bottom: 30px;
            margin: 0 auto;
        }

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__text-desktop {
        font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;
        line-height: 1.655;
        text-transform: uppercase;
        padding: 4px ;
        padding-left: 10px;
        background: #fff;
        color: #000;
        letter-spacing: 0.15em;
        text-align: start;

        @media screen and (max-width: 290px) {
            @include font (600, 6px, 1.7, 0.1em);
        }

        @media (min-width: 291px) and (max-width: 365px) {
            @include font (500, 7px, 1.7, 0.1em);
        }

        @media (min-width: 366px) and (max-width: 420px) {
            @include font (600, 8px, 1.7, 0.1em);
        }

        @media (min-width: 421px) and (max-width: 500px) {
            @include font (600, 10px, 1.7, 0.1em);
        }

        @media (min-width: 501px) and (max-width: 768px) {
            padding: 4px 10px;
            @include font (600, 11px, 1.7, 0.1em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            padding: 4px 10px;
            @include font (600, 12px, 1.7, 0.1em);}

        @media (min-width: 1024px) {
            padding: 4px 10px 4px 20px;
            @include font (400, 12px, 1.7, 0.15em);
        }

        @media (min-width: 1401px)  {
            font-size: 14px;}

        @media (min-width: 1851px)  {
            font-size: 16px;
}
    
        @media screen and (min-width: 2201px) {
            font-size: 18px;
        }
    }

    &__value-new {
        color: #2C3049;
        background-color: #fff;
        font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;;

        @media screen and (max-width: 290px) {
            @include font (500, 6px, 1.7, 0.1em);
        }

        @media (min-width: 291px) and (max-width: 360px) {
            @include font (500, 6px, 1.7, 0.1em);
        }

        @media (min-width: 361px) and (max-width: 420px) {
            @include font (500, 9px, 1.7, 0.1em);
        }

        @media (min-width: 421px) and (max-width: 480px) {
            @include font (500, 10px, 1.7, 0.1em);
        }

        @media (min-width: 481px) and (max-width: 768px) {
            padding: 4px 10px;
            @include font (500, 10px, 1.7, 0.1em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            @include font (500, 12px, 1.7, 0.1em);}

        @media (min-width: 1024px) {            
            text-align: center;
            padding: 4px 20px;
            line-height: 1.6;
            @include font (400, 12px, 1.7, 0.15em);
        }

        @media (min-width: 1401px) {
            @include font (500, 14px, 1.7, 0.15em);
        }

        @media screen and (min-width: 1851px) {
            font-size: 16px;
        }
    
        @media screen and (min-width: 2201px) {
            font-size: 18px;
        }
    }

    &__span{
        text-align: start;
        font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;

        @media screen and (max-width: 290px) {
            @include font (400, 6px, 1.7, 0.07em);
        }

        @media (min-width: 291px) and (max-width: 360px) {
            @include font (400, 6px, 1.7, 0.07em);
        }

        @media (min-width: 361px) and (max-width: 420px) {
            @include font (400, 9px, 1.7, 0.07em);
        }

        @media (min-width: 421px) and (max-width: 480px) {
            @include font (400, 10px, 1.7, 0.07em);
        }

        @media (min-width: 481px) and (max-width: 768px) {
            @include font (400, 10px, 1.7, 0.07em);
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            @include font (400, 12px, 1.7, 0.07em);
        }

        @media (min-width: 1024px) {
            
            @include font (400, 12px, 1.7, 0.1em);
        }

        @media (min-width: 1401px) {
            @include font (400, 14px, 1.7, 0.1em);
        }

        @media (min-width: 1851px) {
            font-size: 16px;
        }
    
        @media (min-width: 2201px) {
            font-size: 18px;
        }
    }
}

.center{
    text-align: center;
}

td {
    border-top: 1px solid rgb(190 192 199 / 80%);
    border-bottom: 1px solid rgb(190 192 199 / 80%);
    width: 22%;
    @media screen and (max-width: 1023px) {
        width: 10%;
        border-top: 1px solid rgb(190 192 199 / 80%);
        border-right: 1px solid rgb(190 192 199 / 80%);
    }
}

table {
    overflow:hidden;
    border-radius: 15px;
    z-index: 1;

    border: 1px solid rgba(190, 192, 199, 0.25);
    position: relative;
    border-spacing: 0px;
    background: #9da4be00;
    border-radius: 15px;
}

.table-desktop-new{
    border: 1px solid rgba(190, 192, 199, 0.25);
    position: relative;
    width: 340px;
    border-spacing: 0px;
    border-radius: 15px;

    @media screen and (min-width: 1401px) {
        width: 420px;
    }

    @media screen and (min-width: 1851px) {
        width: 480px;
    }

    @media screen and (min-width: 2201px) {
        width: 540px;
    }
}
 
th, td {
    text-align:center; 
}
 
.th { 
    position: absolute;
    border-radius: 15px 15px 0 0 ;
    padding: 5px 3px 10px;
    width: 15%;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;

        @media screen and (max-width: 290px) {
            @include font (400, 7px, 1.7, 0.07em);
            top: -22px;
            padding: 7px 0 7px;
        }

        @media (min-width: 291px) and (max-width: 360px) {
            @include font (400, 9px, 1.7, 0.07em);
            top: -24px;
            padding: 7px 0 3px;
            width: 20%;
        }

        @media (min-width: 361px) and (max-width: 480px) {
            @include font (400, 10px, 1.7, 0.07em);
            top: -25px;
            padding: 7px 0 3px;
            width: 20%;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            @include font (400, 11px, 1.7, 0.07em);
            top: -28px;
            padding: 7px 0 3px;
            width: 20%;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            padding: 12px 0 12px;
            top: -45px;
        }
}

.th-left{
    font-weight: 500;
    @media (min-width: 541px) and (max-width: 600px) {
        left: 44%;
    }
    left: 42%;
    background: rgba(34, 39, 63, 1);
    color: #ffffff;
    z-index: 1;
}

.th-right{
    font-weight: 500;
    left: 74%;
    background: #fc5a0f;
    color: #FFFFFF;
}

.border-right{
    border-right:1px solid  rgb(190 192 199 / 48%);
}

.noborder{
    border-top:0px; 
}

.twotablecolumn-new{
    color: #2C3049;
    position: absolute;
    border-radius: 15px;
    border-spacing: 0px;
    padding-bottom: 15px;
    background:#f7f7f7;
    text-align: center;
    border: 1px solid rgba(190, 192, 199, 0.25);
    left: 300px;
    z-index: 2;
    top: 28px;
    width: 280px;

    @media screen and (min-width: 1401px) {
        left: 350px;
        width: 290px;
        top: 30px;
    }

    @media screen and (min-width: 1851px) {
        width: 320px;
        left: 400px;
        top: 33px;
    }

    @media screen and (min-width: 2201px) {
        width: 360px;
        left: 450px;
        top: 35px;
    }
    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.threetablecolumn-new{
    color: #2C3049;
    position: absolute;
    border-radius: 15px;
    border-spacing: 0px;
    padding-bottom: 15px;
    border-collapse: 0px;
    width: 280px;
    right: 20px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid rgba(190, 192, 199, 0.25);
    z-index: 2;
    top: 28px;

     @media screen and (min-width: 1401px) {
        width: 290px;
        top: 30px;
    }

    @media screen and (min-width: 1401px) {
        width: 290px;
        top: 30px;
    }

    @media screen and (min-width: 1851px) {
        width: 320px;
        top: 33px;
    }

    @media screen and (min-width: 2201px) {
        width: 360px;
        top: 35px;
    }

    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.border-threetable{
    font-family: "Open Sans";
    text-align: start;
    color: #fc5c0f;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 9px 10px 4px;

    @media screen and (max-width: 360px) {
        font-size: 8px;
    }

    @media (min-width: 361px) and (max-width: 420px) {
        font-size: 9px;
    }

    @media (min-width: 421px) and (max-width: 480px) {
        font-size: 11px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        font-size: 12px;
    }

    @media (min-width: 541px) and (max-width: 767px) {
        font-size: 13px;
    }
    
    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 14px;
        text-transform: uppercase;
        color: #FF6C00;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1024px) {
        padding: 9px 10px 4px;
        height: 15px;
        font-size: 12px;
    }

    @media screen and (min-width: 1401px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1851px) {
        font-size: 16px;
    }

    @media screen and (min-width: 2201px) {
        font-size: 18px;
    }
}

.trans{
     color: transparent;
}

.novisibility{
    display: none;
}

.backtable{
    padding: 60px 0 60px;
    position: relative;
    width: 100%;
    background-color: rgba(34, 39, 63, 0.8);
    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.table-container{
    position: relative;
    background:#f7f7f7;
        border-radius: 15px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        padding: 30px 20px;
    width: 840px;
    margin: 0 auto;
    @media screen and (min-width: 1401px) {
        width: 910px;
    }
    @media screen and (min-width: 1851px) {
        width: 1020px;
    }

    @media screen and (min-width: 2201px) {
        width: 1150px;
    }
}

.table-header-left{
    font-family: "Open Sans";
    font-size: 13px;
    background: #005580;
    height: 30px;
    color: #fff;
    font-weight: 500;
    @media screen and (min-width: 1401px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1851px) {
        font-size: 17px;
    }

    @media screen and (min-width: 2201px) {
        font-size: 19px;
    }
}

.table-header-right{
    font-family: "Open Sans";
    font-size: 13px;
    background: #FF9900;
    height: 30px;
    color: #fff;
    font-weight: 500;
    @media screen and (min-width: 1401px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1851px) {
        font-size: 17px;
    }

    @media screen and (min-width: 2201px) {
        font-size: 19px;
    }
}

.table-bigpadding{
    padding: 4px 20px 24px;
    @media screen and (min-width: 1401px) {
        padding-bottom: 28px;
    }

    @media screen and (min-width: 1851px) {
        padding-bottom: 30px;
    }

    @media screen and (min-width: 2201px) {
        padding-bottom: 34px;
    }
}

.table-topbigpadding{
    padding: 25px 20px 0px;
}

.backgroundtable{
    background: rgb(185 191 210 / 4%);
}

.text-start{
    text-align: start;
}

.ps{
    padding-left: 10px;
}