.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px 25px 25px;

    &__container {
        align-content: end;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    &__titletop{
        @media screen and (max-width: 540px) {
            display: none;
        }

        @media screen and (min-width: 541px) {
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 14px;
        }

        @media screen and (min-width: 769px) {
            font-size: 11px;
            letter-spacing: 0.1em;
        }

        @media screen and (min-width: 1100px) {
            font-size: 13px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 15px;
        }

        @media (min-width: 1500px) {
            font-size: 16px;
         }

         @media (min-width: 1900px) {
            font-size: 17px;
         }
        
    }

    &__title {
        position: absolute;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 540px) {
            right: 30px;
            color: #0B1535;
        }

        @media screen and (max-width: 290px) {
            font-size: 24px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            font-size: 26px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 28px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 32px;
        }

        @media (min-width: 421px) and (max-width: 450px) {
            font-size: 36px;
            margin-right: 14px;
        }

        @media (min-width: 451px) and (max-width: 480px) {
            font-size: 40px;
            margin-right: 20px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 42px;
            margin-right: 20px;
        }

        @media (min-width: 541px) {
            display: none;
        }


    }

    &__title-tablet {
        @media screen and (max-width: 540px) {
            display: none;
        }

        margin-top: 25px;
        font-size: 55px;
        font-weight: 600;
        color: #FFFFFF;

        
        @media screen and (min-width: 769px) {
            @include font (600, 42px, 1.36, 0.05em);
            margin-top: 0;
        }

        @media screen and (min-width: 1100px) {
            @include font (600, 52px, 1.36, 0.05em);
            margin-top: 20px;
        }

        @media screen and (min-width: 1200px) {
            @include font (600, 56px, 1.36, 0.05em);
        }

        @media (min-width: 1500px) {
            font-size: 60px;
         }

         @media (min-width: 1700px) {
            margin-top: 40px;
         }

         @media (min-width: 1900px) {
            font-size: 64px;
         }

         @media (min-width: 2100px) {
            margin-top: 70px;
         }

         
    }

    &__texttop {
        margin-bottom: 10px;
        color: #FFFFFF;
        text-transform: uppercase;

        @include font (500, 10px, 1.88, 0.06em);
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 280px) {
            font-size: 8px;
            margin-bottom: 14px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            font-size: 9px;
            margin-bottom: 12px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 9px;
            margin-bottom: 11px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
            margin-bottom: 10px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            margin-bottom: 9px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            margin-bottom: 9px;
        }

        @media screen and (min-width: 541px) {
            display: none;
        }
    }

    &__content-title{
        margin-left: 20px;

        @media screen and (min-width: 769px) {
            margin-left: 10px;
            // margin-right: auto;
        }
    }

    &__textbottom {
        color: #FFFFFF;
        display: block;
        width: 98px;

        @include font (400, 10px, 2, 0.02em);
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 280px) {
            padding: 50px 0 50px 0;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            padding: 65px 0 65px 0;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            padding: 90px 0 90px 0;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            padding: 110px 0 110px 0;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            padding: 120px 0 120px 0;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            padding: 100px 0 100px 0;
        }

        @media screen and (min-width: 541px) {
            display: none;
        }
    }

    &__textbottom-tablet{
        @media screen and (max-width: 540px) {
            display: none;
        }

        color: #FFFFFF;
        display: block;
        font-size: 14px;
        width: 250px;
        line-height: 2em;

        @media screen and (min-width: 769px) {
            font-size: 13px;
            line-height: 1.9em;
            font-weight: 400;
        }

        @media screen and (min-width: 1100px) {
            font-size: 16px;
            width: 300px;
            margin-top: 10px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 17px;
        }

        @media (min-width: 1500px) {
            font-size: 18px;
            width: 350px;
         }

         @media (min-width: 1500px) {
            font-size: 19px;
            width: 400px;
         }

         @media (min-width: 2400px) {
            margin-top: 30px;
         }
    }

    &__img {
        
        width: 61vw;
        height: 65vw;

        @media (min-width: 541px) and (max-width: 768px) {
            margin-top: 20px;
            width: 41vw;
            height: 43vw;
        }

        @media screen and (min-width: 769px) {
            width: 28vw;
            height: 29vw;
            margin-right: 20px;
        }

        @media screen and (min-width: 1250px) {
            margin-top: 20px;
        }

        @media screen and (min-width: 1500px) {
            margin-top: 0;
            width: 30vw;
            height: 31vw;
        }
    }

    &__img-desktop {
        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 769px) {
            margin-left: 10px;
            width: 21vw;
            height: 20vw;
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1500px) {
            width: 24vw;
            height: 22vw;
        }
    }

    &__backdrop {
        position: absolute;
        top: 34px;
        width: 90vw;

        @media screen and (max-width: 280px) {
            top: 64px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            top: 75px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            top: 74px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            top: 64px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            top: 64px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: 55px;
        }

        @media (min-width: 541px) {
            display: none;
        }
    }

    &__text{
        @media screen and (max-width: 540px) {
            display: none;
        }

        margin-left: auto;
        margin-right: 44px;
        width: 40%;
        letter-spacing: 0.05em;
        line-height: 1.43;

        @media (min-width: 769px) {
            display: none;
        }
    }
}

