.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px 25px 25px;
    // background-color: $color-bk-hero;
    // text-align: center;

    // @media screen and (max-width: 480px) {
    //     max-width: 480px;
    //     // background-image: linear-gradient(to left,
    //     //             $color-gradient-hero,
    //     //             $color-gradient-hero),
    //     //         url(../images/header-480.jpg);
    //         background-repeat: no-repeat;
    //         background-size: cover;

    //     @media screen and (min-device-pixel-ratio: 2),
    //     screen and (min-resolution: 192dpi),
    //     screen and (min-resolution: 2dppx) {
    //          & {
    //             // background-image: linear-gradient(to left,
    //             //         $color-gradient-hero,
    //             //         $color-gradient-hero),
    //             //     url('../images/header@2x-480.jpg');
    //     }
    // }
    // }
    
    // @media (min-width: 481px) and (max-width: 768px) {
    //     max-width: 768px;
    //     // background-image: linear-gradient(to left,
    //     //             $color-gradient-hero,
    //     //             $color-gradient-hero),
    //     //         url(../images/header-768.jpg);
    //     //     background-repeat: no-repeat;
    //     //     background-size: cover;

    //     @media screen and (min-device-pixel-ratio: 2),
    //     screen and (min-resolution: 192dpi),
    //     screen and (min-resolution: 2dppx) {
    //         & {
    //             // background-image: linear-gradient(to left,
    //             //             $color-gradient-hero,
    //             //             $color-gradient-hero),
    //             //         url('../images/header@2x-768.jpg');
    //         }
    //     }    
    // }

    // @media screen and (max-width: 1199px) {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    // }

    // @media screen and (min-width: 769px) {
    //     max-width: 1600px;
    //     max-height: 600px;
    //     padding-top: 200px;
    //     padding-bottom: 200px;

    //     // background-image: linear-gradient(to left,
    //     //             $color-gradient-hero,
    //     //             $color-gradient-hero),
    //     //         url(../images/overlay.jpg);
    //     //     background-repeat: no-repeat;
    //     //     background-size: cover;
        
    //     @media screen and (min-device-pixel-ratio: 2),
    //         screen and (min-resolution: 192dpi),
    //         screen and (min-resolution: 2dppx) {
    //             & {
    //                 // background-image: linear-gradient(to left,
    //                 //         $color-gradient-hero,
    //                 //         $color-gradient-hero),
    //                 //     url('../images/overlay2x.jpg');
    //             }
    //         }
    // }

    &__container {
        align-content: end;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    &__title {
        position: absolute;
        right: 30px;
        font-size: 36px;
        color: #0B1535;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 290px) {
            font-size: 24px;
        }

        @media (min-width: 291px) and (max-width: 320px) {
            font-size: 26px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 28px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 32px;
        }

        @media (min-width: 421px) and (max-width: 440px) {
            font-size: 36px;
            margin-right: 14px;
        }

        @media (min-width: 441px) and (max-width: 480px) {
            font-size: 40px;
            margin-right: 20px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 44px;
            margin-right: 20px;
        }

        @media screen and (min-width: $desktop) {
            @include font (900, 44px, 1.36, 0.06em);
        }
    }

    &__texttop {
        margin-bottom: 10px;
        color: #FFFFFF;
        text-transform: uppercase;

        @include font (500, 10px, 1.88, 0.06em);
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 280px) {
            font-size: 8px;
            margin-bottom: 14px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            font-size: 9px;
            margin-bottom: 12px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            font-size: 9px;
            margin-bottom: 11px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            font-size: 10px;
            margin-bottom: 10px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            margin-bottom: 9px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            margin-bottom: 9px;
        }
    }

    &__textbottom {
        color: #FFFFFF;
        display: block;
        width: 98px;

        @include font (400, 10px, 2, 0.02em);
        font-family: "Open Sans", sans-serif;

        @media screen and (max-width: 280px) {
            padding: 50px 0 50px 0;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            padding: 65px 0 65px 0;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            padding: 90px 0 90px 0;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            padding: 110px 0 110px 0;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            font-size: 11px;
            padding: 120px 0 120px 0;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            font-size: 12px;
            padding: 100px 0 100px 0;
        }
    }

    &__img {
        
        width: 61vw;
        height: 65vw;
    }

    &__backdrop {
        position: absolute;
        top: 34px;
        width: 90vw;

        @media screen and (max-width: 280px) {
            top: 64px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            top: 75px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            top: 74px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            top: 64px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            top: 64px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            top: 55px;
        }
    }
}

