.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px 25px 25px;
    // background-color: $color-bk-hero;
    // text-align: center;

    @media screen and (max-width: 480px) {
        max-width: 480px;
        // background-image: linear-gradient(to left,
        //             $color-gradient-hero,
        //             $color-gradient-hero),
        //         url(../images/header-480.jpg);
            background-repeat: no-repeat;
            background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
             & {
                // background-image: linear-gradient(to left,
                //         $color-gradient-hero,
                //         $color-gradient-hero),
                //     url('../images/header@2x-480.jpg');
        }
    }
    }
    
    @media (min-width: 481px) and (max-width: 768px) {
        max-width: 768px;
        // background-image: linear-gradient(to left,
        //             $color-gradient-hero,
        //             $color-gradient-hero),
        //         url(../images/header-768.jpg);
        //     background-repeat: no-repeat;
        //     background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            & {
                // background-image: linear-gradient(to left,
                //             $color-gradient-hero,
                //             $color-gradient-hero),
                //         url('../images/header@2x-768.jpg');
            }
        }    
    }

    // @media screen and (max-width: 1199px) {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    // }

    // @media screen and (min-width: 769px) {
    //     max-width: 1600px;
    //     max-height: 600px;
    //     padding-top: 200px;
    //     padding-bottom: 200px;

    //     // background-image: linear-gradient(to left,
    //     //             $color-gradient-hero,
    //     //             $color-gradient-hero),
    //     //         url(../images/overlay.jpg);
    //     //     background-repeat: no-repeat;
    //     //     background-size: cover;
        
    //     @media screen and (min-device-pixel-ratio: 2),
    //         screen and (min-resolution: 192dpi),
    //         screen and (min-resolution: 2dppx) {
    //             & {
    //                 // background-image: linear-gradient(to left,
    //                 //         $color-gradient-hero,
    //                 //         $color-gradient-hero),
    //                 //     url('../images/overlay2x.jpg');
    //             }
    //         }
    // }

    &__container {
        align-content: end;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        
    }

    &__title {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        align-items: flex-end;
        font-size: 36px;
        color: #0B1535;
        font-weight: 600;
        text-transform: uppercase;

        // @media screen and (max-width: 1199px) {
        //     @include font (900, 26px, 1.62, 0.06em);
        // }

        @media screen and (min-width: $desktop) {
            @include font (900, 44px, 1.36, 0.06em);
        }
    }

    &__texttop {
        color: #FFFFFF;
        text-transform: uppercase;


        @include font (500, 9px, 1.88, 0.06em);
    }

    &__textbottom {
        color: #FFFFFF;
        display: block;
        padding: 90px 0 90px 0;
        width: 98px;

        @include font (400, 10px, 2, 0.02em);
    }

    &__img {
        position: absolute;
        right: 10px;
        top: 65px;
    }
}

