.nav-site {
    font-size: 14px;

    @media screen and (max-width: 767px) {
        // background-color: $color-bk-primary;
        max-width: 480px;
    }

    &__list {
        @media screen and (min-width: 541px) {
            display: flex;
            margin-left: 40px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 93px;
        }     
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
            margin-right: 40px;
        }

        @media screen and (min-width: 541px) {
            margin-right: 50px;
        }
    }
}

.nav-site__link {
    text-decoration: none;
    display: block;
    color: #FCFAFF;

    @media screen and (max-width: 540px) {
        @include font (500, 40px, 1.18, 0.02em);
    }

    @media screen and (min-width: 541px) {
        @include font (500, 12px, 1.14, 0.02em);
        position: relative;
    }

    &--current {
        color: #FF9900;
    }

    &:hover,
    &:focus {
        color: #FF9900;
    }
}