.newsletter {
  
    @media (min-width: 541px) and (max-width: 1200px) {
        text-align: center;
    }

    @media screen and (min-width: $desktop) {
        margin-left: auto;
    }

    &__form {
        @media screen and (min-width: $desktop) {
             display: flex;
        }
    }

    &__input {
      font-family: math;
        height: 30px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

        
            width: 100%;
            padding: 5px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;

        @media screen and (max-width: 320px) {
            font-size: 12px;
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1851px) {
          font-size: 14px;
      }

      @media screen and (min-width: 2201px) {
        font-size: 16px;
      }
    }

    &__textarea{
      resize: none;
      width: 100%;
      border: none;
      padding: 5px 0 5px;
      letter-spacing: 0.08em;
      margin-top: 9px;
      height: 10px;
      margin-bottom: 0;
      border-bottom: 1px solid #fff;
    }

    &__top{
      width: 47%;
    }

    &__icon {
        margin-left: 10px;
    }

    &__button{
      background: none;
    }
}

.form-field{
  position: relative;
  margin-bottom: 10px;
}

.newsletter__label{
  position: absolute;
  top: 30%;
  left: 0;
  color: #ECF0F3;
  transform: translateY(-50%);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__input:focus + .newsletter__label,
.newsletter__input:not(:placeholder-shown) + .newsletter__label{
  transform: translateY(-40px);
  color: #68d4ff;
}

.newsletter__input:focus + .label__textarea,
.newsletter__textarea:not(:placeholder-shown) + .label__textarea{
  transform: translateY(-55px);
}

.newsletter__textarea:focus,
.newsletter__textarea:not(:placeholder-shown){
  height: 100px;
  padding-top: 5px;
}

.login-box form a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #68d4ff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 2.5s;
    margin-top: 10px;
    letter-spacing: 2px;

    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
  }

  .login-box a:hover {
    background: #68d4ff;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px #68d4ff,
                0 0 25px #68d4ff,
                0 0 50px #68d4ff,
                0 0 100px #68d4ff;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #68d4ff);
    animation: btn-anim1 2s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #68d4ff);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #68d4ff);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #68d4ff);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .user-box{
    @media screen and (min-width:540px){
      display: flex;
      justify-content: space-between;
    }
  }