.page-header {
    background-image: url(/background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 280px) {
        height: 320px;
    }

    @media (min-width: 281px) and (max-width: 320px) {
        height: 360px;
    }

    @media (min-width: 321px) and (max-width: 360px) {
        height: 400px;
    }

    @media (min-width: 361px) and (max-width: 420px) {
        height: 440px;
    }

    @media (min-width: 421px) and (max-width: 480px) {
        height: 500px;
    }

    @media (min-width: 481px) and (max-width: 540px) {
        height: 500px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #FF9900;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #FF9900;
    }

    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        padding: 0px 26px;

        @media screen and (max-width: 280px) {
            height: 54px;
            padding: 0px 16px;
        }

        @media (min-width: 281px) and (max-width: 320px) {
            height: 58px;
            padding: 0px 16px;
        }

        @media (min-width: 321px) and (max-width: 360px) {
            height: 58px;
            padding: 0px 18px;
        }

        @media (min-width: 361px) and (max-width: 420px) {
            height: 60px;
            padding: 0px 20px;
        }

        @media (min-width: 421px) and (max-width: 480px) {
            height: 60px;
            padding: 0px 28px;
        }

        @media (min-width: 481px) and (max-width: 540px) {
            height: 60px;
            padding: 0px 35px;
        }
    }

    &__button{
        border: none;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9;

        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    // &__button.is-open{
    //     // position: fixed;
    //     // top: 10px;
    //     // right: 10px;
    // }

    // &__links{
    //     @media screen and (max-width: 767px) {
    //         display: flex;
    //         flex-wrap: wrap;
    //         // background-color: $color-bk-primary;
    //     }

    //     @media screen and (min-width: $tablet) {
    //         display: none;
    //     }
    // }

    // &__link {
    //     display: inline-block;
    //     text-decoration: none;
    //     @include font (500, 18px, 1.22, 0.02em);
    //     margin-bottom: 10px;
        
    //     // color: $color-accent;
        
    // }

    // &__link--after::after {
    //     content: '';
    //     border: 1px solid rgba(33, 33, 33, 0.2);
    //     transform: rotate(90deg);
    //     margin-right: 10px;
    //     margin-left: 10px;
    // }
}

.page-header__button.is-open .page-header__icon-menu {
    display: none;
}

.page-header__icon-cross{
    display: none;

    .page-header__button.is-open &{
        display: block;
    }
}

.page-header__menu{
    @media screen and (max-width: 767px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 48px 40px 38px;
        height: 100%;
        z-index: 1;
        overflow-y: scroll;

        background-color: #FFFFFF;

        // &.is-open {
        //     display: flex;
        //     justify-content: space-between;
        //     flex-direction: column;
        // }
    }

    // @media screen and (min-width: $tablet) {
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    // }

    // @media screen and (min-width: $desktop) {
    //     justify-content: space-between;
    // }
}

.p-icon--menu{
    background-size: contain;
    height: 2.1rem;
    width: 2.1rem;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: inherit;
    padding: 0;
    vertical-align: calc(.4px + .2465em - .4rem);
    margin-top: 25px;
}