.footer {
    background-color: #191C26;

    @media screen and (max-width: 540px) {
        text-align: center;
    }

    @media (min-width: 541px) and (max-width: 1023px) {
        text-align: start;
    }

    @media (min-width: 1024px) {
        display: flex;
    }

    &__address {
        padding: 60px 0;

        background-image: url(/public/footer-img.png);
        background-size: cover;

        @media screen and (max-width: 290px) {
            height: 200px;
        }

        @media (min-width: 291px) and (max-width: 420px) {
            height: 250px;
        }

        @media (min-width: 421px) and (max-width: 540px) {
            height: 300px;
        }

        @media (min-width: 541px) and (max-width: 1023px) {
            height: 300px;
            padding: 120px 40px;
        }

        @media (min-width: 1024px) {
            padding: 60px;
            margin-right: auto;
        }
    }

    &__newsletter {
        padding: 60px 15px;

        @media screen and (max-width: 290px) {
            height: 350px;
        }

        @media (min-width: 291px) and (max-width: 540px) {
            font-size: 20px;
        }
        
        @media (min-width: 541px) and (max-width: 1023px) {
            font-size: 20px;
            height: 290px;
            padding: 95px 40px;
        }

        @media screen  and (min-width: 1024px) {
            margin-right: auto;
            padding: 60px 30px;
            margin-left: auto;
            width: 380px;
        }

        @media screen  and (min-width: 1401px) {
            margin-left: auto;
            width: 540px;
        }

        @media screen and (min-width: 1851px) {
            width: 710px;
        }

        @media screen and (min-width: 2201px) {
            width: 850px;
        }
    }

    &__title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 30px;
        color: #FFFFFF;

        @media (min-width: 341px) and (max-width: 420px) {
            margin-bottom: 50px;
        }

        @media (min-width: 421px) and (max-width: 540px) {
            font-size: 36px;
            margin-bottom: 60px;
        }

        @media (min-width: 541px) and (max-width: 768px) {
            font-size: 42px;
            margin-bottom: 40px;
        }

        @media (min-width: 768px) {
            font-size: 56px;
            letter-spacing: 0.05em;
            
        }

        @media (min-width: 1024px) {
            width: 340px;
            margin-right: auto;
            margin-right: auto;
        }

        @media (min-width: 1401px) {
            width: 500px;
            margin-right: auto;
        }

        @media screen and (min-width: 1851px) {
            width: 660px;
        }

        @media screen and (min-width: 2201px) {
            width: 785px;
        }
    }

    .footer__title-contacts{
        @media screen and (min-width: 1024px) {
            margin-bottom: 100px;
        }
        @media screen and (min-width: 1401px) {
            margin-bottom: 45px;
        }
    }

    &__firsttitle{
        @media (min-width: 1024px) {
            margin-left: 0px;
        }
    }

    &__top{
        @media (min-width: 541px) {
            width: 48%;
        }
    }
}