:root {
	--rotate-speed: 60;
	--count: 11; /* Default count, the DOM element should override this */
	--easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
	--easing: cubic-bezier(0.000, 0.5, 1.000, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

h2 {
        font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-top: 24px;
        margin-bottom: 20px;

        @media (min-width: 1024px) {
            color: #303030;
            margin-left: 0;
            font-size: 36px;
            margin-top: 0;
        }

        @media (min-width: 1401px) {
            margin-left: 0;
            font-size: 42px;
        }

        @media screen and (min-width: 1851px) {
          font-size: 48px;
      }
}

h3 {
  font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: 9px;

  @media (min-width: 1024px) {
    font-size: 12px;
  }

  @media (min-width: 1401px) {
    font-size: 14px;
  }

}